<div class="row">
  <div class="text-center">
    <%= image_tag (@artist.remote_image_url), class:"artist_show_images" %>
  </div></div>
<h3><%= @artist.name %>'s Crappy Songs:</h3>


  <div class="songGroup">
    <ul id="songlist">
      <% @artist.songs.each do |song| %>
      <li id="<%= song.id %>">
        <div id="delete <%= song.id %>" onclick="deleteSong(<%= song.id %>)" class="btn btn-info">Delete</div>
      <%= song.title %></li>
    <% end %>
    </ul>
  </div>

  <h3><a href="#" id="deleteAll">  Delete All </a><h3>


    <form onSubmit="submitSong(); return false">
       <input href="#" id="add-song" placeholder="Add a Song" required="true">
     </form>



<%= link_to artists_path do %>
  <% end %>
<h3><%= link_to "Delete Artist", artist_path, method: :delete %></h3>
